* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://krot.info/uploads/posts/2021-01/1611743247_5-p-fon-zvezdnoe-nebo-na-rabochii-stol-6.jpg);
}

.tv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.player {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 490px;
}

.player img {
  width: 100%;
}

.player video {
  width: 96%;
  height: 82.1%;
  top: 2.4%;
  left: 1.8%;
  background: #000;
}

.video-thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
}

.video-thumb li {
  list-style: none;
  cursor: pointer;
  border: 3px solid #fff;
  margin: 0 10px;
}

.video-thumb img {
  width: 150px;
  opacity: 0.3;
  transition: 0.3s;
}

.video-thumb img:hover {
  width: 170px;
  opacity: 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 15px;
}

.h1{
	font-family: 'Playball', cursive;
	font-size: 50px;
	margin-bottom: 120px;
	color: aqua;
}
